body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    background-color: purple;
}

h3 {
    font-size: 1em;
}

/* 100% GOOGLED */
.brannLogo{ 
    width: 200px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.brannLogo:active {
    animation: pumpEffect 0.2s ease-in-out;
}

@keyframes pumpEffect {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); } /* Expands */
    100% { transform: scale(1); }
/* 100% GOOGLED */
}